<form method="POST" action="/add">
<h2>Title</h2>
<input type="text" name="title"><br>
<h2>content</h2>
<input type="text" name="content"><br>
<h2>author</h2>
<input type="text" name="author"><br>
<button type="submit"> Create blog </button>
</form>

{% for blog in blogs %}

 <h3>Title</h3>{{blog.title}}<br>
 <h3>content</h3>{{blog.content}}<br>
 <h3>author</h3>  {{blog.author}}

{%endfor%}
